In [1]:
# Data processing
import pandas as pd
import numpy as np

In [2]:
input_base_folder = 'final/outputs/'
output_base_folder =  ''# 'final/outputs/'

In [7]:
# Read data from a CSV file and returns a Dataframe
def get_data_from_csv(filename, base_folder=input_base_folder, sep=',', header='infer'):
    filepath = base_folder + filename
    return pd.read_csv(filepath, sep, header=header)

def write_data_to_csv(data, filename, base_folder=output_base_folder):
    data.to_csv(base_folder + filename, header=False, index=False)

In [8]:
sols_file = 'all_solutions_20190310.csv'
# Sanity check test 1
data = get_data_from_csv(sols_file, header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,27.900,27.519,0.244,0.665985,21.417838,-0.237790,31.026032,-1.327788,0.261611,1.307729,72.461375
1,9.435,9.435,0.000,0.310227,10.939239,-0.592896,10.580658,-0.811962,3.633277,1.292872,28.926759
2,10.350,10.350,0.000,0.769788,7.761587,-1.183812,19.867838,-1.424898,9.505861,1.109352,49.047421
3,9.483,9.483,0.000,1.536313,30.916909,-0.696372,14.878207,-1.283161,14.654795,0.969101,55.451661
4,10.180,10.180,0.000,1.144987,6.288066,0.206822,25.155869,0.491872,9.079051,1.349896,44.244605

In [9]:
# Define the time columns
time1 = 0 
time2 = 1 
time3 = 2 
data.drop(time1, axis=1, inplace=True)
data.drop(time2, axis=1, inplace=True)
data.drop(time3, axis=1, inplace=True)

In [10]:
def create_samples_file(filename, data, nsamples=100, random=101):
    samples = data.sample(n=nsamples, random_state=random)
    write_data_to_csv(samples, filename)

In [11]:
create_samples_file("truss_sample1.csv", data, nsamples=100, random=101)

In [12]:
create_samples_file("truss_sample2.csv", data, nsamples=100, random=42)

In [13]:
create_samples_file("truss_sample3.csv", data, nsamples=100, random=55)