In [1]:
# https://plot.ly/python/axes/
import pandas as pd
import numpy as np

In [2]:
# Get the data (csv file should be on the same folder as this file)
base_folder = "final/outputs/"
url = base_folder + "all_solutions_20190310.csv"
csv_has_header = False # True
df = pd.read_csv(url, sep=',', header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,27.900,27.519,0.244,0.665985,21.417838,-0.237790,31.026032,-1.327788,0.261611,1.307729,72.461375
1,9.435,9.435,0.000,0.310227,10.939239,-0.592896,10.580658,-0.811962,3.633277,1.292872,28.926759
2,10.350,10.350,0.000,0.769788,7.761587,-1.183812,19.867838,-1.424898,9.505861,1.109352,49.047421
3,9.483,9.483,0.000,1.536313,30.916909,-0.696372,14.878207,-1.283161,14.654795,0.969101,55.451661
4,10.180,10.180,0.000,1.144987,6.288066,0.206822,25.155869,0.491872,9.079051,1.349896,44.244605

In [3]:
df.describe()

,0,1,2,3,4,5,6,7,8,9,10
count,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000,24514.000000
mean,24.648884,24.648516,0.000257,0.053193,14.954274,0.025563,16.800471,0.404427,16.800770,1.150966,39.810990
std,21.239488,21.239474,0.007232,1.169126,8.752282,1.093927,8.129443,1.055486,8.416493,0.155919,17.767717
min,5.322000,5.322000,0.000000,-1.570796,0.000000,-1.570796,0.000000,-1.570796,0.000000,0.543703,0.000000
25%,13.348000,13.348000,0.000000,-1.247604,6.970110,-1.062693,10.920053,-0.558991,9.871483,1.056924,26.964389
50%,16.229500,16.229000,0.000000,0.116491,14.719265,0.000000,17.077492,0.761007,17.397337,1.156206,40.238719
75%,26.577250,26.577250,0.000000,1.277199,22.563129,1.152847,23.120909,1.395803,23.930227,1.253621,53.143111
max,175.218000,175.218000,0.343000,1.570796,31.415927,1.570796,31.415927,1.570796,31.415927,2.001658,88.900953

In [4]:
df.describe().to_csv(base_folder + "all_solutions_stats.csv")

In [5]:
# Define cols in csv file 
vars_cols = [3, 4, 5, 6, 7, 8] # if csv_has_header else 
objs_cols = [9, 10] if not csv_has_header else ["O1", "O2"]

In [6]:
# Define the Objectives
O1 = df[objs_cols[0]]
O2 = df[objs_cols[1]]

# Define the time columns
time1 = 0 if not csv_has_header else "Total time (s)"
time2 = 1 if not csv_has_header else  "Time o1"
time3 = 2 if not csv_has_header else  "Time o2"

In [7]:
df.drop(time1, axis=1, inplace=True)

In [8]:
df.drop(time2, axis=1, inplace=True)

In [9]:
df.drop(time3, axis=1, inplace=True)

In [10]:
df.head()

,3,4,5,6,7,8,9,10
0,0.665985,21.417838,-0.237790,31.026032,-1.327788,0.261611,1.307729,72.461375
1,0.310227,10.939239,-0.592896,10.580658,-0.811962,3.633277,1.292872,28.926759
2,0.769788,7.761587,-1.183812,19.867838,-1.424898,9.505861,1.109352,49.047421
3,1.536313,30.916909,-0.696372,14.878207,-1.283161,14.654795,0.969101,55.451661
4,1.144987,6.288066,0.206822,25.155869,0.491872,9.079051,1.349896,44.244605

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24514 entries, 0 to 24513
Data columns (total 8 columns):
3     24514 non-null float64
4     24514 non-null float64
5     24514 non-null float64
6     24514 non-null float64
7     24514 non-null float64
8     24514 non-null float64
9     24514 non-null float64
10    24514 non-null float64
dtypes: float64(8)
memory usage: 1.5 MB

In [12]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.__version__

'3.4.0'

In [13]:
df.as_matrix()

array([[  0.66598502,  21.41783802,  -0.23779031, ...,   0.26161067,
          1.30772913,  72.46137502],
       [  0.31022705,  10.93923853,  -0.59289596, ...,   3.63327662,
          1.29287165,  28.92675891],
       [  0.76978787,   7.76158702,  -1.18381161, ...,   9.50586108,
          1.10935176,  49.0474213 ],
       ...,
       [ -0.64655963,  12.4126309 ,   0.44458501, ...,  24.5814901 ,
          1.22719724,  40.841394  ],
       [ -1.53792597,  12.16220501,   0.21170153, ...,  30.83146073,
          1.44126788,  50.39896433],
       [  1.57079633,  30.52740252,  -1.57079633, ...,   0.        ,
          0.90290807,  84.72080871]])

In [14]:
plotly.tools.set_credentials_file(username='PastelBelem8', api_key='X8k1mloXRlB24rZm0qyq')

In [15]:
df1 = df

In [16]:
df1[objs_cols].describe()

                 9             10
count  24514.000000  24514.000000
mean       1.150966     39.810990
std        0.155919     17.767717
min        0.543703      0.000000
25%        1.056924     26.964389
50%        1.156206     40.238719
75%        1.253621     53.143111
max        2.001658     88.900953

In [17]:
# Create random data with numpy
import numpy as np

# Create a trace
trace = go.Scatter(
    x = O1,
    y = O2,
    mode = 'markers'
)

data = [trace]
fig = go.Figure(data=data)
py.iplot(fig, filename='line-mode')

In [ ]:
def weakly_dominates(v0, v1):
    return np.all(v0 <= v1) and np.any(v0 < v1)
    
print(weakly_dominates(np.array([1, 1]), np.array([2, 2])))  
print(weakly_dominates(np.array([2, 1]), np.array([2, 2])))
print(weakly_dominates(np.array([2, 2]), np.array([1, 1])))
print(weakly_dominates(np.array([1, 2]), np.array([2, 2])))
print(weakly_dominates(np.array([1, 3]), np.array([3, 1])))
print(weakly_dominates(np.array([3, 1]), np.array([1, 3])))

In [ ]:
def get_non_dominated_ix(V):
    nsols, nobjs = V.shape
    
    dominated = np.zeros((nsols, 1))
    
    for i in range(nsols):
        for j in range(nsols):
            if i != j:
                if weakly_dominates(V[j], V[i]):
                    dominated[i] = 1
                    break
                    
    return dominated

In [ ]:
A = np.array(df1[objs_cols])
B = get_non_dominated_ix(A)
B

In [ ]:
df2 = pd.DataFrame(B, columns=["isDominated"])
df2['isDominated'].value_counts()

In [ ]:
df1['isDominated'] = df2['isDominated']
df1.describe()

In [ ]:
# Create random data with numpy
o1 = objs_cols[0]
o2 = objs_cols[1]
O1_pf = df1[df1['isDominated'] == 0][o1]
O2_pf = df1[df1['isDominated'] == 0][o2]

O1_npf = df1[df1['isDominated'] == 1][o1]
O2_npf = df1[df1['isDominated'] == 1][o2]

# Create a trace
trace = go.Scatter(
    x = O1_pf,
    y = O2_pf,
    mode = 'markers',
    name = "Non-dominated",
    marker=dict(
        size=6,
        color = 'rgb(16, 46, 51)',
        opacity=1,
        line = dict(
            color = 'rgb(255, 255, 255)',
            width = 0.25
          )
    )
)

trace1 = go.Scatter(
    x = O1_npf,
    y = O2_npf,
    mode = 'markers',
    name = "Dominated",
    marker=dict(
        size=5,
        color = 'rgb(149, 201, 209)',
        line = dict(
            color = 'rgb(255, 255, 255)',
            width = 0.25
          )
    )
)

# data = [trace, trace1]
data = [trace1, trace]



fig = go.Figure(data=data)
py.iplot(fig, filename='nondominated-dominated-line-mode')

In [ ]:
file_o1 = base_folder + "non_dominated_o1_asc.csv"
df1[df1["isDominated"] == 0.0].sort_values(by=o1)

In [ ]:
df1[df1["isDominated"] == 0.0].sort_values(by=o1).to_csv(file_o1, index=False, header=False)

In [ ]:
dominated_file = base_folder + "dominated.csv"

In [ ]:
df1[df1["isDominated"] == 1.0].to_csv(dominated_file, index=False, header=False)

In [ ]:
df1[df1["isDominated"] == 0.0]

In [ ]:
df1[df1["isDominated"] == 0.0].sort_values(by=o1)

In [ ]:
df1[df1["isDominated"] == 0.0].sort_values(by=o2)

In [ ]:
# Minimum displacement
(-1.570796, 31.294214, 1.570796, 0.0, -1.570796, 0.0,1.570796, 31.283907, 1.284866, 0.0)

# Maximum Distance 
(-1.570796, 31.415927, 1.570796, 0.0, 0.056993, 31.415927, -1.570796, 0.0, 1.570796, 31.415927)